# Generic python files to ignore
**/__pycache__/
.pytest_cache/
.mypy_cache/
*egg-info
.venv/
build/
dist/
.DS_Store

# Various IDEs
.project
.idea/
*.tmproj
.vscode/

# nlds config files to ignore
**/.server_config
**/.processor_config