# screen RC config file
# create the nlds worker
setenv PYTHON_DIR "$HOME/python-venvs/nlds-venv/bin"
setenv NLDS "$HOME/Coding/nlds"
setenv NLDS_PROC "$NLDS/nlds_processors"

# titles at the top
screen -t "nlds_worker"
exec "$PYTHON_DIR/python" "$NLDS_PROC/nlds_worker.py"
split
focus

# create the monitor
screen -t "monitor"
exec "$PYTHON_DIR/python" "$NLDS_PROC/monitor.py"
split
focus

# create the put_transfer
screen -t "put_transfer"
exec "$PYTHON_DIR/python" "$NLDS_PROC/transferers/put_transfer.py"
split
focus

# create the get_transfer
screen -t "get_transfer"
exec "$PYTHON_DIR/python" "$NLDS_PROC/transferers/get_transfer.py"
split
focus

# create the indexer
screen -t "indexer"
exec "$PYTHON_DIR/python" "$NLDS_PROC/index.py"
split
focus

# create the catalog
screen -t "catalog"
exec "$PYTHON_DIR/python" "$NLDS_PROC/catalog/catalog_worker.py"
split
focus

# run the server via uvicorn
screen -t "server"
exec "$PYTHON_DIR/uvicorn" "nlds.main:nlds" "--reload" "--log-level=trace" "--port=8000"
focus
