{ 
    "rabbitMQ": {
        "queues": [
            {
                "name": "archive_get_q",
                "bindings": [
                    {
                        "exchange": "{{ rabbit_exchange_name }}",
                        "routing_key": "*.archive-get.start"
                    },
                    {
                        "exchange": "{{ rabbit_exchange_name }}",
                        "routing_key": "*.archive-get.init"
                    },
                    {
                        "exchange": "{{ rabbit_exchange_name }}",
                        "routing_key": "*.archive-get.prepare"
                    },
                    {
                        "exchange": "{{ rabbit_exchange_name }}",
                        "routing_key": "*.archive-get.prepare-check"
                    }
                ]
            }
        ]
    }
}