{ 
    "rabbitMQ": {
        "queues": [
            {
                "name": "logging_q",
                "bindings": [
                    {
                        "exchange": "{{ rabbit_exchange_name }}",
                        "routing_key": "*.log.*"
                    }
                ]
            }
        ]
    }
}
