{ 
    "rabbitMQ": {
        "queues": [
            {
                "name": "{{ rabbit_queue_name }}",
                "bindings": [
                    {
                        "exchange": "{{ rabbit_exchange_name }}",
                        "routing_key": "{{ rabbit_routing_key }}"
                    }
                ]
            }
        ]
    },
    "consumer": {
        "{{ rabbit_queue_name }}": {
            {{ rabbit_queue_options }}
        }
    }
}