<html>
<head>
    <title>System Status</title>
    <!--<link href="/styles.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.6/theme/css/main.css" media="screen">
</head>
<body>
    <h1>NLDS system status:</h1>
    <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Service</th>
            <th>Status</th>
            <th>Failed Consumer Tags (if any)</th>
        </tr>
        <tr>
            <td>Monitor</td>
            <td><FONT COLOR={{ stats.monitor.colour }}>{{ stats.monitor.val }}</FONT></td>
            <td id="nested">
                <table>
                    {% for id in stats.monitor.failed %}
                        <tr><td>{{ id }}</td></tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <td>Catalog</td>
            <td><FONT COLOR={{ stats.catalog.colour }}>{{ stats.catalog.val }}</FONT></td>
            <td id="nested">
                <table>
                    {% for id in stats.catalog.failed %}
                        <tr><td>{{ id }}</td></tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <td>NLDS Worker</td>
            <td><FONT COLOR={{ stats.nlds_worker.colour }}>{{ stats.nlds_worker.val }}</FONT></td>
            <td id="nested">
                <table>
                    {% for id in stats.nlds_worker.failed %}
                        <tr><td>{{ id }}</td></tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <td>Index</td>
            <td><FONT COLOR={{ stats.index.colour }}>{{ stats.index.val }}</FONT></td>
            <td id="nested">
                <table>
                    {% for id in stats.index.failed %}
                        <tr><td>{{ id }}</td></tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <td>Get Transfer</td>
            <td><FONT COLOR={{ stats.get_transfer.colour }}>{{ stats.get_transfer.val }}</FONT></td>
            <td id="nested">
                <table>
                    {% for id in stats.get_transfer.failed %}
                        <tr><td>{{ id }}</td></tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <td>Put Transfer</td>
            <td><FONT COLOR={{ stats.put_transfer.colour }}>{{ stats.put_transfer.val }}</FONT></td>
            <td id="nested">
                <table>
                    {% for id in stats.put_transfer.failed %}
                        <tr><td>{{ id }}</td></tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <td>Logger</td>
            <td><FONT COLOR={{ stats.logger.colour }}>{{ stats.logger.val }}</FONT></td>
            <td id="nested">
                <table>
                    {% for id in stats.logger.failed %}
                        <tr><td>{{ id }}</td></tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
    </div>
</body>
</html>