<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/styles/info.css">
    <script src="../static/scripts/info.js"></script>
</head>

<body>

    <h2 class="simple">Monitor records table</h2>
    <h3 class="simple" id="message"></h3>

    <table id=recordTable class="simple">
        <tr>
            <th>user</th>
            <th>group</th>
            <th>id</th>
            <th>action</th>
            <th>job label</th>
            <th>last update</th>
            <th>state</th>
        </tr>
        {% for record in info %}
        <tr class="hover" onclick="activateComplexView('record_{{ record.id }}')">
            <td>{{ record.user }}</td>
            <td>{{ record.group }}</td>
            <td>{{ record.id }}</td>
            <td>{{ record.api_action }}</td>
            <td>{{ record.job_label }}</td>
            <td>{{ record.creation_time }}</td>
            <td>{{ record.state }}</td>
            <input type="hidden" id="record_{{ record.id }}" value='{{ record | tojson }}'>
        </tr>
        {% endfor %}
    </table>

    <h2 class="complex">Monitor record complex table</h2>
    <br>
    <h3 class="complex">Transaction Record</h3>
    <div id="complexTable" class="complex"></div>
    <br>
    <h3 class="complex">Warnings</h3>
    <div id="warnings" class="complex"></div>
    <h3 class="complex">Sub Records</h3>
    <div id="subRecords" class="complex"></div>
    <br>
    <button onclick="toggleVisibility()" class="complex">Return</button>

    <form id="filterBy" class="simple">
        <label for="user">User:</label><br>
        <input type="text" id="user" name="user"><br>

        <label for="group">Group:</label><br>
        <input type="text" id="group" name="group"><br>

        <!--
        <label for="state">State:</label><br>
        <input type="text" id="state" name="state"><br>
        -->

        <div>State:</div>
        <SELECT id="state">
            <OPTION Value=></OPTION>
            <OPTION Value="INITIALISING">INITIALISING</OPTION>
            <OPTION Value="ROUTING">ROUTING</OPTION>
            <OPTION Value="SPLITTING">SPLITTING</OPTION>
            <OPTION Value="INDEXING">INDEXING</OPTION>
            <OPTION Value="CATALOG_PUTTING">CATALOG_PUTTING</OPTION>
            <OPTION Value="TRANSFER_PUTTING">TRANSFER_PUTTING</OPTION>
            <OPTION Value="CATALOG_ROLLBACK">CATALOG_ROLLBACK</OPTION>
            <OPTION Value="CATALOG_UPDATING">CATALOG_UPDATING</OPTION>
            <OPTION Value="CATALOG_GETTING">CATALOG_GETTING</OPTION>
            <OPTION Value="ARCHIVE_GETTING">ARCHIVE_GETTING</OPTION>
            <OPTION Value="TRANSFER_GETTING">TRANSFER_GETTING</OPTION>
            <OPTION Value="ARCHIVE_INIT">ARCHIVE_INIT</OPTION>
            <OPTION Value="ARCHIVE_PUTTING">ARCHIVE_PUTTING</OPTION>
            <OPTION Value="CATALOG_ARCHIVE_UPDATING">CATALOG_ARCHIVE_UPDATING</OPTION>
            <OPTION Value="CATALOG_ARCHIVE_REMOVING">CATALOG_ARCHIVE_REMOVING</OPTION>
            <OPTION Value="CATALOG_DELETE_ROLLBACK">CATALOG_DELETE_ROLLBACK</OPTION>
            <OPTION Value="CATALOG_RESTORING">CATALOG_RESTORING</OPTION>
            <OPTION Value="COMPLETE">COMPLETE</OPTION>
            <OPTION Value="FAILED">FAILED</OPTION>
            <OPTION Value="COMPLETE_WITH_ERRORS">COMPLETE_WITH_ERRORS</OPTION>
            <OPTION Value="COMPLETE_WITH_WARNINGS">COMPLETE_WITH_WARNINGS</OPTION>
            <OPTION Value="SEARCHING">SEARCHING</OPTION>
        </SELECT><br><br>

        <!--<label for="recordState">Record state:</label><br>
        <input type="text" id="recordState" name="recordState"><br>-->

        <label for="startTime">Start time:</label><br>
        <input type="date" id="startTime" name="startTime"><br>

        <label for="endTime">End time:</label><br>
        <input type="date" id="endTime" name="endTime"><br>

        <div>Order:</div>
        <SELECT id="order">
            <OPTION Value="ascending">Ascending</OPTION>
            <OPTION Value="descending">Descending</OPTION>
        </SELECT><br><br>

        <div>Single row response...</div>
        <label for="recordId">Id:</label><br>
        <input type="number" id="recordId" name="recordId"><br>

        <label for="transactionId">Transaction ID:</label><br>
        <input type="text" id="transactionId" name="transactionId"><br>

        <input class="filter" type="submit" value="Filter">
    </form>
    <div id="response" class="simple"></div>
</body>

</html>


<!--
TODO SQL injection avoidance?

TODO test with warnings (does this need to be cleared each time?)
TODO test failed files (might need clearing as well)
TODO make sure the for loop works for building the table (test for multiple sub_records)

TODO write pytests
-->