[server]
    rabbit_user = {{ rabbit_user }}
    rabbit_password = {{ rabbit_password }}
    rabbit_server = {{ rabbit_server }}
    rabbit_vhost = {{ rabbit_vhost }}
    rabbit_queue = {{ rabbit_queue }}
    rabbit_exchange = {{ rabbit_exchange }}