<html>
<head>
    <title>System Status</title>
    <!--<link href="/styles.css" rel="stylesheet" type="text/css">-->
    <link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/orgtheme_jasmin/0.6/theme/css/main.css" media="screen">
</head>
<body>
    <br>
    <div class="table-responsive container">
    <h1>NLDS system status:</h1>
    <hr>
    <table class="table table-striped table-bordered table-hover">
        <tr class="table-dark">
            <th>Service</th>
            <th>Status</th>
            <th>Failed Consumer Tags (if any)</th>
        </tr>
        {% for row in stats %}
            <tr>
                <td>{{ row.service }}</td>
                <td><FONT COLOR={{ row.info.colour }}>{{ row.info.val }}</FONT></td>
                <td id="nested">
                    <table>
                        {% for id in row.info.failed %}
                            <tr><td>{{ id }}</td></tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        {% endfor %}
    <table>
    </div>
</body>
</html>