{
    "catalog_q" : {
        "db_engine" : "{{ catalog_q_db_engine }}",
        "db_options" : {
            "db_name" : "{{ catalog_q_db_name }}",
            "db_user" : "{{ catalog_q_db_user }}",
            "db_passwd" : "{{ catalog_q_db_passwd }}",
            "echo" : {{ db_echo|default(False) }}
        },
        "logging" : {
            "enable" : True,
            "log_level" : "{{ log_level }}"
        },
        "default_tenancy" : "{{ tenancy }}",
        "default_tape_url" : "{{ tape_url }}"
    },
    "rabbitMQ" : {
        "queues" : [
            {
                "name" : "catalog_q",
                "bindings" : [
                    {
                        "exchange" : "{{ rabbit_exchange_name }}",
                        "routing_key" : "*.catalog-put.start"
                    },
                    {
                        "exchange" : "{{ rabbit_exchange_name }}",
                        "routing_key" : "*.catalog-get.list"
                    },
                    {
                        "exchange" : "{{ rabbit_exchange_name }}",
                        "routing_key" : "*.catalog-get.start"
                    },
                    {
                        "exchange" : "{{ rabbit_exchange_name }}",
                        "routing_key" : "*.catalog-del.start" 
                    },
                    {
                        "exchange" : "{{ rabbit_exchange_name }}",
                        "routing_key" : "*.catalog-archive-next.start"
                    },
                    {
                        "exchange" : "{{ rabbit_exchange_name }}",
                        "routing_key" : "*.catalog-update.start"
                    },
                    {
                        "exchange" : "{{ rabbit_exchange_name }}",
                        "routing_key" : "*.catalog-archive-update.start"
                    },
                    {
                        "exchange" : "{{ rabbit_exchange_name }}",
                        "routing_key" : "*.catalog-remove.start"
                    }
                ]
            }
        ]
    }
}