{
    "index_q":{
        "logging":{
            "enable": True,
            "log_level" : "{{ log_level }}"
        },
        "filelist_max_size": {{ filelist_max_size|default(16000000) }},
        "filelist_max_length": {{ filelist_max_length|default(1000) }},
        "print_tracebacks_fl": {{ print_tracebacks|default(False) }},
        "check_filesize_fl": {{ check_filesize|default(True) }},
        "max_filesize": {{ max_filesize|default(500000000) }}
    }, 
    "rabbitMQ": {
        "queues": [
            {
                "name": "index_q",
                "bindings": [
                    { 
                        "exchange": "{{ rabbit_exchange_name }}",
                        "routing_key": "*.index.start"
                    },
                    { 
                        "exchange": "{{ rabbit_exchange_name }}",
                        "routing_key": "*.index.init"
                    }
                ]
            }
        ]
    }
}